# Flutter/Dart
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
pubspec.lock
*.iml
.idea/

# Android
android/.gradle/
android/local.properties
android/app/google-services.json
android/key.properties
*.keystore
*.jks

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/ephemeral/
ios/Flutter/Flutter.framework/
ios/Flutter/Flutter.podspec
*.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/
DerivedData/

# macOS
macos/Flutter/ephemeral/

# Misc
.DS_Store
*.log
*.tmp